.button
	display: inline-block
	padding: $button-padding
	text-decoration: none
	border-radius: $button-radius

	&.is-small
		padding: $button-padding-small

	.is-default
		background: grey(5)

		&:hover
			background: grey(20)
			color: color('primary')

	.is-primary
		background: color('primary')