.button
	display: inline-block
	padding: $button-padding
	text-decoration: none
	border-radius: $button-radius
	background: grey(5)
	&:hover
		background: grey(20)
		color: color('primary')

	&.is-small
		padding: $button-padding-small

	@each $label,$color in $colors
		&.is-#{$label}
			background-color: $color
		&.is-#{$label}-hover:hover
			background-color: $color