// BUTTON

.btn
	display: inline-block
	padding: $button-padding
	text-decoration: none
	border-radius: $button-radius

	&.btn-small
		padding: $button-padding-small

.btn-default
	background: grey(5)

	&:hover
		background: grey(20)
		color: color('primary')

.btn-primary
	background: color('primary')