.container
	width: 90%
	margin-left: auto
	margin-right: auto
	display: block

	+from($desktop)
		width: 100%
		max-width: $container-width-min

	+from(1200px)
		max-width: $widescreen

.columns
	margin: -10px
	+from($tablet)
		display: flex
		&.has-touching-borders > .column
			padding-left: 2em
			padding-right: 2em

			&:not(:last-of-type)
				border-right: 1px solid grey(10)

.is-wrapped,
.is-multiline
	flex-wrap: wrap

.columns.is-gutterless
	margin: 0

	.column
		padding: 0


.is-align-center
	align-items: center

.is-justified
	justify-content: space-between

.is-centered
	justify-content: center

.grid
	display: flex
	flex-wrap: wrap

	.grid-item
		flex: 1
	
	@for $i from 1 through 12
		& > .is-#{$i}
			width: ($i / 12) * 100%
			flex: none

+from($tablet)
	@for $i from 1 through 12
		.is-#{$i}
			width: ($i / 12) * 100%


.column
	padding-left: 10px
	padding-right: 10px

	&.is-narrow
		flex: none

	&.is-align-center
		align-self: center

	+from($tablet)
		flex: 1
		@for $i from 1 through 12
			.columns > &.is-#{$i}
				flex: none

			.columns > &.is-offset-#{$i}
				margin-left: ($i / 12) * 100%