.container
	width: $container-base
	margin-left: auto
	margin-right: auto
	display: block

	+from($container-width-min + $container-buffer * 2)
		width: 100%
		max-width: $container-width-min

	+from($container-width-max + $container-buffer * 2)
		max-width: $container-width-max

.columns
	+bp-responsive
		margin-left: -1 * $column-gutter
		margin-right: -1 * $column-gutter
		flex-wrap: wrap
		display: flex

.columns .column
	padding-left: $column-gutter
	padding-right: $column-gutter

	+from($tablet)
		flex: 1

.grid
	display: flex
	flex-wrap: wrap

	.grid-item
		flex: 1
	
@for $i from 1 through $column-count
	&.is-offset-#{$i}
		+bp-responsive
			margin-left: ($i / 12) * 100%

	.is-#{$i}
		+bp-responsive
			width: ($i / 12) * 100%
			flex: none !important