nav a
	text-decoration: none

.nav
	display: flex
	flex-wrap: wrap
	align-items: center

.nav-toggle
	flex: 1
	margin: 0
	text-align: right
	+from($nav-break)
		display: none !important

.nav-toggle-input
	display: none

	&:checked + .nav-menu	
		display: flex
		max-height: 50vh
		opacity: 1
		padding: 1em 0

.nav-right
	+until($nav-break)
		flex-basis: 100%
	+from($nav-break)
		display: flex
		flex: 1
		align-items: stretch
		justify-content: flex-end

.nav-menu 
	+until($nav-break)
		display: none
		flex-direction: column

.nav-item
	text-decoration: none

// .nav-directional
// 	display: block
// 	+from($tablet)
// 		display: flex
// 	.nav-prev,
// 	.nav-next
// 		flex: 1
// 		border: $border
// 		+mobile
// 			text-align: center !important

// 	.nav-prev + .nav-next
// 		+from($tablet)
// 			border-left: none

// 	.nav-next
// 		text-align: right