=transition-all($pace: $base-speed, $easing: $base-easing)
  transition: all $pace $easing

.has-transitions
	+transition-all

=clearfix
  &:after
    clear: both
    content: " "
    display: table

.is-clearfix
	+clearfix

.is-link-wrapper
	text-decoration: none
	color: inherit

.has-bg-img
	background-position: 50% 50%
	background-size: cover

.has-margin-auto
	+bp-responsive
	    margin-left: auto
	    margin-right: auto

.is-rounded
	border-radius: $button-radius