// MIXINS

=anim-before
	&,
	.is-anim-trigger &-triggered
		+transition-all
		@content

=anim-after
	&:hover,
	.is-anim-trigger:hover &-triggered
		@content


// ANIMATIONS

.has-anim-fade-out-light
	+anim-before
		opacity: 1
	+anim-after
		opacity: 0.75

.has-anim-grow
	+anim-before
		transform: scale(1)
	+anim-after
		transform: scale(1.05)

.has-anim-rotate
	+anim-before
		transform: rotate(0deg)
	+anim-after
		transform: rotate(90deg)

.has-anim-bg-white
	+anim-before
		background: transparent

	+anim-after
		background: white !important
		color: black !important


.has-anim-bg-light
	+anim-before
		background: transparent

	+anim-after
		background: rgba(0,0,0,0.025)
		&,
		& > * 
			color: black !important

.has-anim-squish
	+anim-before
		max-width: $base-pad/2
		overflow: hidden
		opacity: 1
	+anim-after
		max-width: 0
		opacity: 0
		padding: 0

.has-anim-slide-down
	+anim-before
		transform: translateY(-15%)
	+anim-after
		transform: translateY(0)

.has-anim-reveal
	+anim-before
		opacity: 0
	+anim-after
		opacity: 1

=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

+keyframes(flashing)
	0%
		opacity: 1
	50%
		opacity: .25

.is-flashing
	animation: flashing 1s infinite