=anim-before
	&,
	.is-anim-trigger &-triggered
		+transition-all
		@content

=anim-after
	&:hover,
	.is-anim-trigger:hover &-triggered
		@content


.has-anim-slide-down,
	+anim-before
		transform: translateY(-15%)
	+anim-after
		transform: translateY(0)

.has-anim-reveal,
	+anim-before
		opacity: 0
	+anim-after
		opacity: 1