.has-bg-img
	background-position: 50% 50%
	background-size: cover

.has-bg-fixed
	background-attachment: fixed

@each $color, $value in $colors
	.has-bg-#{$color}
		background-color: $value

.has-bg-light-transparent
	background-color: rgba(240, 240, 240, 0.9) 

.has-bg-accent-transparent
	background-color: transparentize($color-accent, 0.3) 
