.has-bg-img
	background-position: 50% 50%
	background-size: cover

@each $color, $value in $colors
	.has-bg-#{$color}
		background-color: $value !important

	.has-bg-#{$color}-hover
		+transition-all
		&:hover
			background-color: $value !important

$blend-modes: luminosity overlay

@each $mode in $blend-modes
	.is-mix-blended-#{$mode}
		mix-blend-mode: #{$mode}

	.is-blended-#{$mode}
		background-blend-mode: #{$mode}

@each $value in (2,3,5,10,15,20,85,90,95)
	.has-bg-grey-#{$value}
		background-color: grey($value)