.is-flex 
	display: flex !important

	&-column
		display: flex !important
		flex-direction: column

.is-flex-expand
	flex: 1

.flex-between 
	justify-content: space-between

.has-flex-centered-contents
	display: flex
	align-items: center
	justify-content: center