.is-flex 
	+bp-responsive
		display: flex !important

	&-column
		display: flex !important
		flex-direction: column

.is-flex-expand
	flex: 1

.is-justified,
.flex-between 
	justify-content: space-between

.has-flex-centered-contents
	display: flex
	align-items: center
	justify-content: center

.is-wrapped,
.is-multiline
	flex-wrap: wrap

.is-align-center
	align-items: center

.is-centered
	justify-content: center
