@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,800,800i|Lato');


// MIXINS

=serif
  font-family: $font-serif !important

=sans
  font-family: $font-sans !important

=heading
  font-family: $font-headings !important


// FONTS

.sans
	+sans

.serif
	+serif

.heading
	+heading
