@each $opacity, $value in $opacities
	@if $opacity == 'default'
		.is-transparent
			opacity: $value
	@else
		.is-transparent-#{$opacity}
			opacity: $value

.is-seo-hidden
	display: block
	opacity: 0
	width: 0
	height: 0
	border: none
	margin: 0 !important
	padding: 0 !important

.is-hidden
	+bp-responsive
		display: none !important
