$tablet: 760px !default
$desktop: 980px !default
$widescreen: 1180px !default
$container-base: 90%
$container-width-min: 960px !default

$nav-break: $tablet

$bps: ('bpxs': 480px, 'sm': $tablet, 'md': $desktop, 'lg': $widescreen ) !default

$base-font-small: 87.5%
$fonts: 'Libre+Franklin:400,400i,800,800i|Lato' !default
$font-sans: 'Lato', Helevetica, Arial, sans-serif !default
$font-serif: 'Libre Franklin', Baskerville, Georgia, Times, serif !default
$font-headings: $font-serif !default
$font-body: $font-sans !default

$line-height: 1.8 !default
$font-small: .65em !default
$spacing-tracked: .175em !default
$line-height-headings: 1.4 !default

$pace: .3s !default
$easing: ease-in-out !default

$color-accent: #001a4b !default
$color-primary: rgb(0,27,140) !default
$color-dark: grey(85) !default
$color-light: grey(50) !default
$color-links: $color-light !default
$color-links-hover: transparentize($color-links, 0.25) !default

$colors: (white: white, offwhite: grey(3), light: grey(40), grey: grey(65), dark: grey(85), black: black, accent: $color-accent, primary: $color-primary)

$button-radius: .25rem !default
$button-pad: 1em 1.25em !default
$button-pad-small: .5em .65em !default
$button-border-width: 1px !default
$base-pad: 4rem !default

$column-gutter: 16px
$column-count: 12

$border: 1px solid grey(10) !default

$shadow: 0px 1px 6px rgba(0,0,0,0.1) !default
$shadow-large: 0px 2px 12px rgba(0,0,0,0.05) !default