$tablet: 769px
$desktop: 980px
$widescreen: 1180px
$container-width-min: 960px

$font-sans: 'Lato', Helevetica, Arial, sans-serif
$font-serif: 'EB Garamond', Baskerville, Georgia, Times, serif
$font-headings: $font-sans
$font-body: $font-sans
$line-height: 1.8
$line-height-headings: 1.4
$pace: .3s
$easing: ease-in-out
$spacing-tracked: .175em

$color-accent: #001a4b
$color-primary: rgb(0,27,140)
$color-dark: grey(85)
$color-light: grey(50)
$color-links: $color-light
$color-links-hover: transparentize($color-links, 0.25)

$button-radius: .25rem
$button-pad: 1em 1.25em
$button-pad-small: .5em .65em
$button-border-width: 1px